p {
    font-weight: bold;
    color: blue;
}

th {
    border: 1px solid #000000;
}

.container {
    display: flex;
    flex-direction: row; /* 要素を横に並べる */
    justify-content: center;
}

.column-container {
    display: flex;
    flex-direction: column; /* 要素を縦に並べる */
}

.infoArea {
    padding-right: 30px;
}

.inputArea {
    padding-right: 30px;
    margin-bottom: 10px;
}

.item {
    padding-right: 8px;
}

.infoHead {
    background-color: #0cbfff;
}

.resultHead {
    background-color: #f0d600;
}

.unInputItem {
    background-color: #c1fdff;
    border: 1px solid #ccc;
}