body {
    background-color: #edd8bb;
    text-align: center;
}

#personBlock, #songBlock {
    display: none;
}

th {
    border: 1px solid #000000;
    background-color: #f1ebdb;
}

td {
    border: 1px solid #000000;
    background-color: #f8f6ef;
}

.container {
    display: flex;
    flex-direction: row; /* 要素を横に並べる */
    justify-content: center;
}